<div>
  <mat-toolbar color="primary" style="height: 40px">
    <span><mat-icon>assignment</mat-icon></span>
    <span>Todolist !</span>

    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Option 1</button>
    <button mat-menu-item>Option 2</button>
  </mat-menu>

  <mat-card>
    <mat-chip-list>
      <mat-chip>Nouveau</mat-chip>
      <mat-chip>Two fish</mat-chip>
      <mat-chip color="primary" selected="true">Primary fish</mat-chip>
      <mat-chip color="accent" selected="true">Accent fish</mat-chip>
    </mat-chip-list>
  </mat-card>

  <span class="done">
    <button mat-fab>
      <mat-icon>assignment</mat-icon>
    </button>
  </span>

  <mat-card>
    <span>djzjdjndkjendkjendjkn</span>
  </mat-card>
</div>
